extends layout

block content
        h1 List of People

        table(class='gridtable')
            tr
                th Id
                th Username
                th Password
                th User Level
                th Email
                th Age
                th Answer 1
                th Answer 2
                th Answer 3
            each item in people
                tr
                    td
                        a(href='/details/' + item.id) #{item.id}
                    td #{item.username}
                    td #{item.password}
                    td #{item.userlevel}
                    td #{item.email}
                    td #{item.age}
                    td #{item.a1}
                    td #{item.a2}
                    td #{item.a3}
                    td
                        a(href='/edit/' + item.id) Edit
                    td
                        a(href='/delete/' + item.id) Delete