doctype
html
    head
        title Details
    body
    
        p Username: #{person.name}
        p Password: #{person.password}
        p User Level: #{person.userlevel}
        p Email: #{person.email}
        p Age: #{person.age}
        p Answer 1: #{person.a1}
        p Answer 2: #{person.a2}
        p Answer 3: #{person.a3}
        br
        #menu
            a(href='/') Go back