doctype
html
    head
        title Details
    body
        p Name: #{animal.name}
        p Species: #{animal.species}
        p Type: #{animal.type}
        p Age: #{animal.age}
        p Tem[perament: #{animal.temperament}
        br
        #menu
            a(href='/') Go back