doctype
html
    head
        title= title
        link(href='/styles/style.css', rel='stylesheet')
    body
        h3 List of Animals

        table(class='gridtable')
            tr
                th Id
                th Name
                th Species
                th Type
                th Age
                th Temperament
            each item in animals
                tr
                    td
                        a(href='/details/' + item.id) #{item.id}
                    td #{item.name}
                    td #{item.species}
                    td #{item.type}
                    td #{item.age}
                    td #{item.temperament}
                    td
                        a(href='/edit/' + item.id) Edit
                    td
                        a(href='/delete/' + item.id) Delete

        p
        #menu
            a(href='/create') Add new animal